~/Desktop/Barnacles/Trained_model?Progressive_FineTune/Kfold_training_barnacles/YOLOv8 filter=lfs diff=lfs merge=lfs -text
~/Desktop/Barnacles/Trained_model?Progressive_FineTune/Kfold_training_barnacles_YOLOv8 filter=lfs diff=lfs merge=lfs -text
~/Desktop/Barnacles/Trained_model?Progressive_FineTune/Kfold_training_barnacles_YOLOv8/ filter=lfs diff=lfs merge=lfs -text
